
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>KATAGORİ EKLEME SAYFASI</title>
    <form class="form-group" method="post">
        <input type="text" placeholder="Katagori Adı" name="CategoryName" class="form-control" />
        <br />
        <input type="text" placeholder="Katagori Açıklaması" name="CategoryDescription" class="form-control" />
        <button class="btn-primary">Ekle</button>

    </form>